{% extends "base.html" %}

{% block content %}
<h1>Документация по математике</h1>
{% if current_user.is_authenticated %}
    <a href="news" class="btn btn-secondary btn-add">Сделать запись</a>
{% endif %}
{% for item in news%}

<div class="col-md6 border rounded" style="background-color: gray; opacity: .5;">

    <h2 style="text-align: center;">{{item.title}}</h2>

    <div style="font-size: 20px; text-align: center; font-weight: bold">
        ----- > Автор - {{item.user.name}} <-----
    </div>

    <div style="text-align: center; font-size: 26px; font-weight: bold; color: white;">
        {{item.content}}
    </div>
    {% if current_user.is_authenticated and current_user == item.user %}
    <div>
        <a href="/news/{{ item.id }}" class="btn btn-danger">
            Изменить
        </a>
        <a href="/news_delete/{{ item.id }}" class="btn btn-danger">
            Удалить
        </a>
    </div>
    {% endif %}
</div>

{% endfor %}
{% endblock %}