<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>OGE preparation</title>
  <link rel="stylesheet" href="static/css/style.css">
</head>

<body class="back" style="background-image: url(static/img/back1.jpg)">
  <h1 class="head1">Подготовка к ОГЭ</h1>
  <div class="logo">
    <img src="static/img/Logo2.png" alt="b" class="logoimg"></div>
  <div class="left">
    <img src="static/img/Calc.png" alt="" class="calc">
    <img src="static/img/Test.png" alt="" class="calc">
    <a href="Support.html"><img src="static/img/Support.png" alt="" class="calc"></a>
    <a href="index.html"><img src="static/img/Home.png" alt="" class="calc"></a>
  </div>
  <div class="duv">
      <script>
          function errorWindow() {
              let age = prompt('     Что Вас смутило в работе сайта?', "");
                  var hitCancel = !(age != "" && name !== null);

                  if (age.replaceAll(' ', '') == "") {
                      alert("Запрос пуст. Попробуйте ещё раз");
                      errorWindow();

                  } else if (age != null) {
                      alert("Ваша жалоба отправлена");
  }
}
      </script>
      <I><B>Поддержка</B></I>
      <p class="text">
        Если Вы неудовлетворены в работе сайта или нашли ошибки, свяжитесь с нами через рассылку
      </p>
      <p style="color: red"><a onclick="errorWindow()">Отправить отчёт об ошибке</a></p>
        <div class="hr"></div>
      <p class="text">
        Для связи в целях рекламных или иных предложений: dselcov18@gmail.com
        <br><p style="font-size: 12px; color: lightcoral">(электронная почта создателя (Сельцов Даниил))</p>
      </p>
  </div>
  <p class="reservation">Все права защищены &copy</p>
 
</body>
</html>