<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">

  <title>OGE preparation</title>
  <link rel="stylesheet" href="static/css/style.css">
</head>

<body class="back" style="background-image: url(static/img/back1.jpg)">
<header>
    <nav class="navbar navbar-$gray-800 bg-$gray-800">
        <pre>
                                      <a class="btn btn-primary " href="rus.html">Русский язык</a> <a class="btn btn-primary" href="math.html">Математика</a> <a class="btn btn-primary" href="ict.html">Информатика</a> <a class="btn btn-primary" href="phys.html">Физика</a> <a class="btn btn-primary" href="allnews.html">Всё</a> <a class="btn btn-primary" href="questions.html">Вопросы</a>

        </pre>
        <a class="navbar-brand" href="#">                </a>
        {% if current_user.is_authenticated %}
    <a class="navbar-brand" href="/logout">{{ current_user.name }}</a>
{% else %}
    <p>
        <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
        <a class="btn btn-success" href="/login">Войти</a>
    </p>
{% endif %}
    </nav>
</header>
<!-- Begin page content -->
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>

  <h1 class="head1">Подготовка к ОГЭ</h1>
  <div class="logo">
    <img src="static/img/Logo2.png" alt="b" class="logoimg"></div>
  <div class="left">
    <a href="testiki.html"><img src="static/img/Test.png" alt="" class="calc"></a>
    <a><img src="static/img/Support.png" alt="" class="calc"></a>
      <a href="photos.html"><img src="static/img/camera.png" alt="" class="calc"></a>
    <a href="index.html"><img src="static/img/Home.png" alt="" class="calc" id="Photo"></a>
  </div>
  <div class="duv">

<script>
          function errorWindow() {
              let age = prompt('     Что Вас смутило в работе сайта?', "");
                  var hitCancel = !(age != "" && name !== null);

                  if (age.replaceAll(' ', '') == "") {
                      alert("Запрос пуст. Попробуйте ещё раз");
                      errorWindow();

                  } else if (age != null) {
                      alert("Ваша жалоба отправлена");
  }
}
      </script>

      <I><B>Поддержка</B></I>
      <p class="text">
          Наш веб-сборник документации всё ещё на стадии активной доработки.
            Вы можете столкнуться с ошибками. Для помощи сайту, а следовательно и всем пользователям,
          опишите неполадку по подсказке внизу
        Если Вы неудовлетворены в работе сайта или нашли ошибки, свяжитесь с нами через рассылку внизу
      </p>

      <p style="color: white; font-size: 40px">
          <a class="btn btn-warning" onclick="errorWindow()">Отправить отчёт об ошибке</a>
      </p>

        <div class="hr"></div>
      <p class="text">
        Для связи в целях рекламных или иных предложений, пишите нам в ВК.
        <br><p style="font-size: 18px; color: lightcoral">(указано на <a class="link" href="index.html">главной</a>)</p>
      </p>

      <div class="hr"></div>
      Для создания своей записи, посетите любую из страниц предметов, указанных в навигации (сверху),
      нажмите на "Сделать запись". Подробности создания документации указаны на
      <a class="link" href="index.html">главной</a>.
      <br>
      <br>
      При создании вопроса, название предмета не играет роли, так как любой вопрос отправляется
      на соответствующую страницу.
      <img src="static/img/todo.PNG">
      <br>
      <pre>

                       <img src="static/img/ex2.PNG">
      </pre>
  </div>
  <p class="reservation">Все права защищены &copy</p>

</body>
</html>